body {
    background-image: url(/img/bg02.webp);
    padding: 2ch;
    font-size: 16pt;
    font-family: sans-serif
}

* + * {
	margin-top: 1.5em;
}

header {
    text-align: center
}

footer {
    font-style: italic
}

/* hr should align with marker not text */
ul > hr {
    margin-left: -2ch
}
